<div class="position-absolute top-50 start-50 translate-middle p-1" style="max-width: 250px; width: 100%;"> 

        <form class="needs-validation" method="post" action="/auth/register" novalidate>
            <div class="mb-3 d-flex justify-content-center">
                <h4>REGISTER</h4>
            </div>
            <div class="mb-3">
                <label class="form-label" for="usernameInput">Username</label> 
                <input class="form-control" type="text" id="usernameInput" name="username" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="passwordInput1">Enter the password</label>
                <input class="form-control" type="password" id="passwordInput1" name="password1" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="passwordInput2">Repeat the password</label>
                <input class="form-control" type="password" id="passwordInput2" name="password2" required>
            </div>
            <div class="d-flex justify-content-center mb-1">
                {{> messages}}
            </div>
            <div class="d-flex justify-content-center mb-1">
                <input class="btn btn-primary" type="submit" value="Continue">
            </div>
            <div class="d-flex justify-content-center mb-3">
                <a href="/auth/login">Login</a>
            </div>
        </form>

</div>