<!DOCTYPE html>
<html lang="en">
<head>
    <title>App</title>
    <!-- Encoding -->
    <meta charset='utf-8'>
    <!-- I dont know, auto added with snippet -->
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--Import own css-->
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

    {{> navigation }}

    <main>
        
        <div>
            {{> messages}}
        </div>

        {{{body}}}

    </main>
    

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <script src="/js/style.js"></script>
</body>
</html>